<html>
<head>
<title>Mailroom</title>
</head>
<body>
    <nav>
        {# url_for -> python method name in main.py #}
        <a id="New Donation" href="{{ url_for('donations') }}">New Donation</a>
        <br>
        <a id="Donation List" href="{{ url_for('list_donations') }}">Donation List</a>
    </nav>
    <h1>Donations</h1>
    <h2>{% block subtitle %} {% endblock subtitle %}</h2>
    {% block content %} {% endblock content %}
</body>
</html>
